<a href="https://colab.research.google.com/github/shadow-passwd/Data_mining_project/blob/master/Data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import gzip
import shutil

BASE_DIR = r'/content/drive/My Drive/'

Following section is just a utility to extract the compressed file

In [ ]:
## function to unzip a .gz file.

# def uzip(name):
#     file_path = BASE_DIR + name
#     components = name.split('.')
#     final_file_name = ''
#     for i in range(len(components)-1):
#         if i != 0:
#             final_file_name += '.'
#         final_file_name += components[i]
    
#     final_file_name = BASE_DIR + final_file_name
#     print(final_file_name)

#     with gzip.open(file_path, 'rb') as f_in:
#         with open(final_file_name, 'wb') as f_out:
#             shutil.copyfileobj(f_in, f_out)

Actual codes start from here

In [ ]:
# zip_file = 'meta_Electronics.json.gz'
# uzip(zip_file)

# efficient loading to dataframe

# import pandas as pd

# def parse(path):
#     g = gzip.open(path, 'rb')
#     for l in g:
#         yield eval(l)

# def getDataFrame(path, bound = False, limit = 0):
#     i = 0;
#     df = {}
#     for d in parse(path):
#         df[i] = d
#         i += 1
#         if bound == True and i > limit:
#             return pd.DataFrame.from_dict(df, orient = 'index')

#     return pd.DataFrame.from_dict(df, orient = 'index')

In [ ]:
# reviews_path = BASE_DIR + 'reviews_Electronics_5.json.gz'

# reviews_df = getDataFrame(reviews_path)

In [ ]:
# print(reviews_df.shape)
# reviews_df.head()

(1689188, 9)

       reviewerID        asin  ... unixReviewTime   reviewTime
0   AO94DHGC771SJ  0528881469  ...     1370131200   06 2, 2013
1   AMO214LNFCEI4  0528881469  ...     1290643200  11 25, 2010
2  A3N7T0DY83Y4IG  0528881469  ...     1283990400   09 9, 2010
3  A1H8PY3QHMQQA0  0528881469  ...     1290556800  11 24, 2010
4  A24EV6RXELQZ63  0528881469  ...     1317254400  09 29, 2011

[5 rows x 9 columns]

In [ ]:
# meta_path = BASE_DIR + 'meta_Electronics.json.gz'

# meta_df = getDataFrame(meta_path, True, 400000)

In [ ]:
## Analysing the dataset

# print(meta_df.shape)
# meta_df.head()

(400001, 18)

                                            category tech1  ...        asin details
0  [Electronics, Camera &amp; Photo, Video Survei...        ...  0011300000     NaN
1                  [Electronics, Camera &amp; Photo]        ...  0043396828     NaN
2  [Electronics, eBook Readers &amp; Accessories,...        ...  0060009810     NaN
3  [Electronics, eBook Readers & Accessories, eBo...        ...  0060219602     NaN
4  [Electronics, eBook Readers & Accessories, eBo...        ...  0060786817     NaN

[5 rows x 18 columns]

(1689188, 9)

In [ ]:
# reviews_df.to_csv(BASE_DIR + 'reviews.csv')

In [ ]:
# meta_df.to_csv(BASE_DIR + 'meta.csv')